footer{
    background-color: #3e5c76;
    display: flex;
    justify-content: center;
    justify-content: space-between;

    img{
        width: 75px;
        margin: 15px;
        }

    p{
        margin: 50px;
        }
        
    }
