.boton-main{
    margin: 25px;
    text-align: center;
    a{
        background-color: #ffbe0b;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        text-decoration: none;
        color: black;
        border: 2px solid #ffbe0b ;
        padding: 10px;
        border-radius: 20px;
        }
    }